<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script> -->
  
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="/static/aboutmobile.css">
    <link rel="stylesheet" href="/static/clgmobile.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIN About</title>
</head>
<body style="background-color: rgb(190, 185, 185);"  >

  
<div class="main">
<div class="header">
  <a href="/"><video width="100px" height="70px" autoplay loop muted >
    <source src="/static/Ainlogo.mp4" type="video/mp4">
</video></a> 
</div>
 
      <!--NavBar-->
      <nav class="nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact</a>
  </nav>  
</div>
    <div class="abouthead">
      <h1 >About Us</h1>
    </div>
    <figure class="aboutimg">
      <img src="/static/about1.jpg" alt=""  style="border: 10px double;">
    </figure>

    <div class="wrapper headline">
      <div class=" text-js typing-demo" style="color: black; font-size: 20px; font-weight: bold;">
        The "Academic Institution Navigator" is a comprehensive and innovative web application designed to revolutionize the way students, parents, and educational professionals explore colleges and courses. In a rapidly evolving educational landscape, where the choices for higher education are vast and varied, this platform serves as a guiding light, simplifying the decision-making process and providing a user-friendly interface for accessing crucial information about institutions and their offered programs.

      With the rise of digital technology, the education sector has seen a shift towards online resources for research and decision-making. The Academic Institution Navigator caters to this trend by offering a one-stop solution for individuals seeking information about colleges and courses. The platform's user-centric design ensures that both novice and experienced users can easily access the information they need, fostering a seamless and efficient navigation experience.
      
      The heart of the Academic Institution Navigator lies in its vast and continuously updated database of colleges and courses. The platform utilizes advanced web crawling techniques to gather information from various educational institutions, ensuring that users have access to accurate and up-to-date data. This dynamic database encompasses a wide range of institutions, from universities to community colleges, and offers information about undergraduate, graduate, and vocational courses. Users can confidently explore options knowing that they are accessing comprehensive and current information.
      
      One of the standout features of the Academic Institution Navigator is its robust search functionality. Users can fine-tune their search criteria based on factors such as location, area of study, program duration, and admission requirements. The platform's intuitive search filters help users narrow down their options, allowing for a more focused and tailored exploration process. 
      </div>
  </div>
  
    <!-- <div class="typewriter ">
    <p class="" >
      </p>
      </div> -->
      
<!-- Footer -->
<footer>
  <div class="row primary">
    <div class="column about">
  
    <h3>Academic Institution Navigator</h3>
  
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
        voluptatem corporis error non,
    </p>
  
    <div class="social">
      <i class="fa-brands fa-facebook-square"></i>
      <i class="fa-brands fa-instagram-square"></i>
      <i class="fa-brands fa-twitter-square"></i>
      <i class="fa-brands fa-youtube-square"></i>
      <i class="fa-brands fa-whatsapp-square"></i>
    </div>
  </div>
  
  <div class="column links">
  <h3>Some Links</h3>
  
   <ul>
  
    <li>
     <a href="#faq">F.A.Q</a>
    </li>
    <li>
     <a href="#cookies-policy">Cookies Policy</a>
    </li>
    <li>
     <a href="#terms-of-services">Terms Of Service</a>
    </li>
    <li>
     <a href="#support">Support</a>
    </li>
   </ul>
  
  </div>
  
  
  <div class="column links">
    <h3>Some Links</h3>
     <ul>
      <li>
       <a href="#faq">F.A.Q</a>
      </li>
      <li>
       <a href="#cookies-policy">Cookies Policy</a>
      </li>
      <li>
      <a href="#terms-of-services">Terms Of Service</a>
      </li>
      <li>
      <a href="#support">Support</a>
      </li>
    </ul>
  </div>
  
  <div class="column subscribe">
   <h3>Newsletter</h3>
    <div>
     <input type="email" placeholder="Your email id here" />
     <button>Subscribe</button>
    </div>
  
  </div>
  
  </div>
  
  <div class="row copyright">
    <div class="footer-menu">
  
    <a href="">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
   
  
    </div>
     <p>Copyright &copy; 2023 Academic Institution Navigator</p>
  </div>
  </footer>
<!-- Footer -->


<!--Javascript -->
<script src="/static/jquery.js"></script>


</script>
</body>
</html>