<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/clgmobile.css">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANI Contact</title>
</head>
<body style="background-color: rgb(190, 185, 185);">
  <div class="main">
    <div class="header">
      <a href="/"><video width="100px" height="70px" autoplay loop muted >
        <source src="/static/Ainlogo.mp4" type="video/mp4">
    </video></a> 
    </div>
     
          <!--NavBar-->
          <nav class="nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/contact">Contact</a>
      </nav>  
    </div>
<div class="iframe">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.771967643107!2d72.86790637512415!3d19.07376098213034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce8f8b89a157%3A0x9adc8f2294703fc8!2sCloud%20Counselage%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1692261054319!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<div class="contact_us_8">
  <div class="responsive-container-block container">
    <form class="form-box" action="/recieved">
      <div class="container-block form-wrapper">
        <div class="responsive-container-block">
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i10mt-9">
            <input class="input" id="ijowk-9" name="FirstName" placeholder="First Name">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="ieakm">
            <input class="input" id="indfi-7" name="Last Name" placeholder="Last Name">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="iajvf">
            <input class="input" id="ipmgh-9" name="Email" placeholder="Email">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i0txn">
            <input class="input" id="imgis-8" name="PhoneNumber" placeholder="Phone Number">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i634i-9">
            <textarea aria-placeholder="What’s on your mind?" class="textinput" id="i5vyy-9" placeholder="What’s on your mind?"></textarea>
          </div>
        </div>
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12 checkbox-container" id="i634i-2-2">
          <div class="checkboc-container">
          
            
          </div>
        </div>
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i0txn-2">
          <button type="submit" class="submit-btn">
            Submit
          </button>
        </div>
        <div class="right-side-text">
          <p class="text-blk contactus-head">
            Get in Touch
          </p>
          <p class="text-blk contactus-subhead" >
            <h5>Academic Institution Navigator</h5><br>
            <h5 style="width: 200px;">Address - <em>91 SPRINGBOARD, 1 & 2 FLOOR, KAGALWALA HOUSE, BEHIND METRO HOUSE, PLOT NO. 175 CST ROAD, BKC, Kalina, Mumbai, Maharashtra 400098</em></h5><br>
            <h5>Contact - 7845125584</h5>
          </p>
          
        </div>
      </div>
    </form>
  </div>
</div>

    <!-- Footer -->
    <footer>
      <div class="row primary">
        <div class="column about">
      
        <h3>Academic Institution Navigator</h3>
      
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            voluptatem corporis error non,
        </p>
      
        <div class="social">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram-square"></i>
          <i class="fa-brands fa-twitter-square"></i>
          <i class="fa-brands fa-youtube-square"></i>
          <i class="fa-brands fa-whatsapp-square"></i>
        </div>
      </div>
      
      <div class="column links">
      <h3>Some Links</h3>
      
       <ul>
      
        <li>
         <a href="#faq">F.A.Q</a>
        </li>
        <li>
         <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
         <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
         <a href="#support">Support</a>
        </li>
       </ul>
      
      </div>
      
      
      <div class="column links">
        <h3>Some Links</h3>
         <ul>
          <li>
           <a href="#faq">F.A.Q</a>
          </li>
          <li>
           <a href="#cookies-policy">Cookies Policy</a>
          </li>
          <li>
          <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li>
          <a href="#support">Support</a>
          </li>
        </ul>
      </div>
      
      <div class="column subscribe">
       <h3>Newsletter</h3>
        <div>
         <input type="email" placeholder="Your email id here" />
         <button>Subscribe</button>
        </div>
      
      </div>
      
      </div>
      
      <div class="row copyright">
        <div class="footer-menu">
      
        <a href="">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
       
      
        </div>
         <p>Copyright &copy; 2023 Academic Institution Navigator</p>
      </div>
      </footer>
<!-- Footer -->




<script >
  function validateForm() {
  var name =  document.getElementById('name').value;
  if (name == "") {
      document.querySelector('.status').innerHTML = "Name cannot be empty";
      return false;
  }
  var email =  document.getElementById('email').value;
  if (email == "") {
      document.querySelector('.status').innerHTML = "Email cannot be empty";
      return false;
  } else {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if(!re.test(email)){
          document.querySelector('.status').innerHTML = "Email format invalid";
          return false;
      }
  }
  var subject =  document.getElementById('subject').value;
  if (subject == "") {
      document.querySelector('.status').innerHTML = "Subject cannot be empty";
      return false;
  }
  var message =  document.getElementById('message').value;
  if (message == "") {
      document.querySelector('.status').innerHTML = "Message cannot be empty";
      return false;
  }
  document.querySelector('.status').innerHTML = "Sending...";
}
</script>
</body>
</html>