<!DOCTYPE html>
<html lang="en">
<head>
    
     <link rel="stylesheet" href="/static/home.css">
     <link rel="stylesheet" href="/static/homemobile.css">
    <link rel="stylesheet" href="/static/clgmobile.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Institution Navigator</title>
</head>
<body style=" background-color: #ffffffb0;" >
    <!-- logo -->
    <div class="mainhead">
    <div class="header">
     <a href="/"><video width="100px" height="70px" autoplay loop muted >
        <source src="/static/Ainlogo.mp4" type="video/mp4">
    </video></a> 
    </div>

    <!--NavBar-->
        <nav class="nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/contact">Contact</a>
        </nav>  
            
     
    </div>
   <!---search field-->
<div id="main">
  <video  autoplay loop muted >
    <source src="/static/bgvdo.mp4" type="video/mp4">
</video>

  <div class="searchmain">
    <h2 style="background: linear-gradient(to right, #046c6c 0%, #330867 100%) ;-webkit-background-clip: text ;-webkit-text-fill-color: transparent;">Search Your Dream College and Degree </h2>
  <section id="searchsection">
    <label for="myInput"><svg   xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-search" viewBox="0 0 16 15">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></label>  <input type="text" name="sc" id="myInput" placeholder="Search College" onkeydown="myFun1()" onkeyup="myFun1()" onkeypress="myFun1()"  onchange="myFun1()">
    
    <ul id="myUL">
    <% result.forEach((element) =>{ %>
      <a href="/clg/<%=element.id%>"><li class="li1"><%=element.clgname %></li></a>
    <% }) %>
    </ul>

</section>
<section id="searchsection">
  <label for="myInput1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></label> <input type="text" name="sd" id="myInput1" placeholder="Search Course or Degree" onkeydown="myFun2()" onkeypress="myFun2()" onkeyup="myFun2()" onchange="myFun2()">

    <ul id="myUL1">
      <% for (let i=0; i<result[0].course.length;i++){ %>
        <li><a href="" onclick="chng()" ><%=result[0].course[i] %></a></li>
        <% } %>
    </ul>
   
   
</section>
</div>
</div>

<div class="overlay"></div>
 
<div class="welcome">
  <h1>Welcome To Academic Institution Navigator</h1>

</div>

<!-- Footer -->
<footer>
  <div class="row primary">
    <div class="column about">
  
    <h3>Academic Institution Navigator</h3>
  
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
        voluptatem corporis error non,
    </p>
  
    <div class="social">
      <i class="fa-brands fa-facebook-square"></i>
      <i class="fa-brands fa-instagram-square"></i>
      <i class="fa-brands fa-twitter-square"></i>
      <i class="fa-brands fa-youtube-square"></i>
      <i class="fa-brands fa-whatsapp-square"></i>
    </div>
  </div>
  
  <div class="column links">
  <h3>Some Links</h3>
  
   <ul>
  
    <li>
     <a href="#faq">F.A.Q</a>
    </li>
    <li>
     <a href="#cookies-policy">Cookies Policy</a>
    </li>
    <li>
     <a href="#terms-of-services">Terms Of Service</a>
    </li>
    <li>
     <a href="#support">Support</a>
    </li>
   </ul>
  
  </div>
  
  
  <div class="column links">
    <h3>Some Links</h3>
     <ul>
      <li>
       <a href="#faq">F.A.Q</a>
      </li>
      <li>
       <a href="#cookies-policy">Cookies Policy</a>
      </li>
      <li>
      <a href="#terms-of-services">Terms Of Service</a>
      </li>
      <li>
      <a href="#support">Support</a>
      </li>
    </ul>
  </div>
  
  <div class="column subscribe">
   <h3>Newsletter</h3>
    <div>
     <input type="email" placeholder="Your email id here" />
     <button>Subscribe</button>
    </div>
  
  </div>
  
  </div>
  
  <div class="row copyright">
    <div class="footer-menu">
  
    <a href="#">Home</a>
    <a href="#">About</a>
 
    <a href="#">Contact</a>
   
  
    </div>
     <p>Copyright &copy; 2023 Academic Institution Navigator</p>
  </div>
  </footer>
  <!-- Footer -->


<!--Javascript Script-->

<script src="/static/logic.js"></script>

</body>
</html>