*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -80px;
}
.header{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
    }
    .header>a{
        z-index: 99;
        margin-left: -15px;
      }
    
    
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(150, 255, 164, 0.854);
        height: 70px;
      
    }
    
    .nav a{
        display: inline-block;
        padding: 12px;
        margin: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: black;
        font-size: 18px;
        text-decoration: none;
    }
    
    .nav>a:hover{
        color: red;
        font-weight: bold;
    
    }

    .iframe{
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-top: 80px;
    }
    .iframe>iframe{
        width: 80%;
    }

   
    footer {
        background-color: #121315;
        color: #a7a7a7;
        font-size: 16px;
        margin-top: 50px;
       
      }
      footer * {
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        border: none;
        outline: none;
      }
      .row {
        padding: 1em 1em;
      }
      .row.primary {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        align-items: stretch;
      }
      .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        min-height: 15em;
      }
      h3 {
        width: 100%;
        text-align: left;
        color: white;
        font-size: 1.4em;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
      }
      li:not(:first-child) {
        margin-top: 0.8em;
      }
      ul li a {
        color: #a7a7a7;
        text-decoration: none;
      }
      ul li a:hover {
        color: #2a8ded;
      }
      .about p {
        text-align: justify;
        line-height: 2;
        margin: 0;
      }
      input,
      button {
        font-size: 1em;
        padding: 1em;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
      }
      button {
        background-color: #c7940a;
        color: #ffffff;
      }
      div.social {
        display: flex;
        justify-content: space-around;
        font-size: 2.4em;
        flex-direction: row;
        margin-top: 0.5em;
      }
      .social i {
        color: #bac6d9;
      }
      
      .copyright {
        padding: 0.3em 1em;
        background-color: #25262e;
      }
      .footer-menu{
        float: left;
          
      }
      
      .footer-menu a{
        color: #cfd2d6;
        padding: 6px;
      
        text-decoration: none;
      }
      .footer-menu a:hover{
        color: #27bcda;
      }
      .copyright p {
        font-size: 0.9em;
        text-align: right;
      }


      .contact_us_8 * {
        font-family: Nunito, sans-serif;
      }
      
      .contact_us_8 .text-blk {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 25px;
      }
      
      .contact_us_8 .responsive-cell-block {
        min-height: 75px;
      }
      
      .contact_us_8 .container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: block;
      }
      
      .contact_us_8 input:focus {
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
      }
      
      .contact_us_8 .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
      }
      
      .contact_us_8 .responsive-container-block.big-container {
        padding-top: 10px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-left: 30px;
        background-color: #03a9f4;
        position: absolute;
        height: 300px;
      }
      
      .contact_us_8 .responsive-container-block.container {
        position: static;
        min-height: 75px;
        flex-direction: column;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
      }
      
      .contact_us_8 .container-block.form-wrapper {
        background-color: white;
        max-width: 610px;
        text-align: center;
        padding-top: 50px;
        padding-right: 40px;
        padding-bottom: 50px;
        padding-left: 40px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        position: static;
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
        margin: 50px 0 50px 0;
      }
      
      .contact_us_8 .text-blk.contactus-head {
        font-size: 36px;
        line-height: 45px;
        font-weight: 900;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
      }
      
      .contact_us_8 .text-blk.contactus-subhead {
        color: black;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        max-width: 300px;
      }
      
      .contact_us_8 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-left: 0px;
        min-height: 50px;
      }
      
      .contact_us_8 .input {
        width: 100%;
        height: 50px;
        padding-top: 1px;
        padding-right: 15px;
        padding-bottom: 1px;
        padding-left: 15px;
        
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #eeeeee;
        border-right-color: #eeeeee;
        border-bottom-color: #eeeeee;
        border-left-color: #eeeeee;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        font-size: 16px;
        border-top-left-radius: 64px;
        border-top-right-radius: 64px;
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 64px;
      }

      .contact_us_8 .input:focus{
        border: 2px solid;
      }
      
      .contact_us_8 .textinput {
        width: 100%;
        min-height: 150px;
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #eeeeee;
        border-right-color: #eeeeee;
        border-bottom-color: #eeeeee;
        border-left-color: #eeeeee;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        font-size: 16px;
      }
      
      .contact_us_8 .submit-btn {
        width: 100%;
        background-color: #03a9f4;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: outset;
        border-right-style: outset;
        border-bottom-style: outset;
        border-left-style: outset;
        border-top-color: #767676;
        border-right-color: #767676;
        border-bottom-color: #767676;
        border-left-color: #767676;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-top-left-radius: 64px;
        border-top-right-radius: 64px;
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 64px;
      }
      
      .contact_us_8 .form-box {
        position: relative;
        margin-top: 60px;
        margin-right: auto;
        margin-bottom: 60px;
        margin-left: auto;
        max-width: 830px;
        width: 100%;
      }
      
      .contact_us_8 ::placeholder {
        color: #dadada;
      }
      
      .contact_us_8 .right-side-text {
        position: absolute;
        top: 0px;
        height: 100%;
        right: 0;
        background-color: rgba(151, 220, 250, 0.44);
        max-width: 363px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .contact_us_8 .social-media-links {
        width: 230px;
        display: flex;
        justify-content: space-evenly;
      }
      
      .contact_us_8 .checkboc-container {
        display: flex;
        align-items: flex-start;
      }
      
      .contact_us_8 .checkbox-text {
        color: #9c9c9c;
        margin-top: 16px;
        margin-right: 0px;
        margin-bottom: 16px;
        margin-left: 10px;
        margin: 0 0 0 10px;
        text-align: left;
      }
      
      .contact_us_8 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-8.wk-ipadp-12.checkbox-container {
        min-height: 30px;
        margin: 0 0 30px 0;
      }
      
      @media (max-width: 1024px) {
        .contact_us_8 .right-side-text {
          right: 0px;
          top: 0px;
          height: 250px;
          width: 100%;
          max-width: 100%;
        }
      
        .contact_us_8 .container-block.form-wrapper {
          margin-top: 200px;
          margin-right: 0px;
          margin-bottom: 50px;
          margin-left: 0px;
          padding-top: 70px;
          padding-right: 40px;
          padding-bottom: 50px;
          padding-left: 40px;
        }
      
        .contact_us_8 .form-box {
          margin-top: 60px;
          margin-right: auto;
          margin-bottom: 60px;
          margin-left: auto;
        }
      
        .contact_us_8 .text-blk.contactus-subhead {
          max-width: 400px;
        }
      
        .contact_us_8 .right-side-text {
          width: 85%;
          left: 0px;
          margin-top: 0px;
          margin-right: auto;
          margin-bottom: 0px;
          margin-left: auto;
        }
      
        .contact_us_8 .form-box {
          display: flex;
          justify-content: center;
        }
      }
      
      @media (max-width: 768px) {
        .contact_us_8 .submit-btn {
          width: 100%;
        }
      
        .contact_us_8 .input {
          width: 100%;
        }
      
        .contact_us_8 .textinput {
          width: 100%;
        }
      
        .contact_us_8 .container-block.form-wrapper {
          margin-top: 80px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
        }
      
        .contact_us_8 .container-block.form-wrapper {
          margin-top: 200px;
          margin-right: 0px;
          margin-bottom: 50px;
          margin-left: 0px;
        }
      
        .contact_us_8 .text-blk.contactus-head {
          font-size: 32px;
        }
      }
      
      @media (max-width: 500px) {
        .contact_us_8 .container-block.form-wrapper {
          padding-top: 50px;
          padding-right: 15px;
          padding-bottom: 50px;
          padding-left: 15px;
        }
      
        .contact_us_8 .container-block.form-wrapper {
          margin-top: 60px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
        }
      
        .contact_us_8 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 15px;
          margin-left: 0px;
        }
      
        .contact_us_8 .responsive-container-block {
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 35px;
          margin-left: 0px;
        }
      
        .contact_us_8 .container-block.form-wrapper {
          margin-top: 220px;
          margin-right: 0px;
          margin-bottom: 50px;
          margin-left: 0px;
        }
      
        .contact_us_8 .right-side-text {
          width: 100%;
          margin-top: 0px;
          margin-right: auto;
          margin-bottom: 0px;
          margin-left: auto;
          left: 0px;
          max-width: 310px;
        }
      
        .contact_us_8 .right-side-text {
          max-width: 280px;
        }
      
        .contact_us_8 .text-blk.contactus-head {
          font-size: 26px;
          line-height: 34px;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 10px;
          margin-left: 0px;
        }
      
        .contact_us_8 .text-blk.contactus-subhead {
          max-width: 250px;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 20px;
          margin-left: 0px;
        }
      
        .contact_us_8 .form-box {
          padding-top: 0px;
          padding-right: 20px;
          padding-bottom: 0px;
          padding-left: 20px;
        }
      
        .contact_us_8 .checkboc-container {
          align-items: flex-start;
        }
      
        .contact_us_8 .input {
          height: 45px;
        }
      }