<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/course.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainhead">
        <div class="header">
         <a href="/"><video width="100px" height="70px" autoplay loop muted >
            <source src="/static/Ainlogo.mp4" type="video/mp4">
        </video></a> 
        </div>
    
        <!--NavBar-->
            <nav class="nav">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/about">About</a>
                  <a class="nav-link" href="/contact">Contact</a>
            </nav>  
                
         
        </div>
    <div class="headercourse">
        <h1 id="bca">Masters of Technology in Computer Science</h1>
    </div>
   <div class="aboutcourse">
    <h2>About</h2>
    <p>The P.G Department of Computer Science & Application of CEB has been established in the year 2006. The department has been actively engaged in teaching and research in diverse fields of Computer Science and Application. With excellent experienced faculties, the department offers undergraduate (BCA) and Postgraduate (MCA) courses.

        The students of this department has been placed in higher ranks in various Industries and Govt. sectors like Indian Foreign Service, Banking sectors, IT industries such as MICROSOFT, AMT, ACCENTURE, TCS, INFOSYS, WIPRO and many more. Many students have also qualified GATE examination to pursue higher studies leading to research work. Some students have also been selected for research work in foreign universities.
        
        The department is also enriched with experienced and quality faculties. Along with their basic duties of teaching they also guide our students to carry out project works. The students are also mentored by professors from IITs and NITs to carry out their internship projects. The faculties also engage themselves in guiding the scholars from our own workspace as well as from other colleges and universities. The department provides a platform for the students as well as scholars from outside domain to pursue their carrier for future endeavor.</p>
   </div>

   <div class="missioncourse">
    <h2>Misson</h2>
    <p>The mission of Mtech CS Department is to empower the students to play a key role through the competency based educational and training programs that promote planned and sustainable growth of the society, state, country and the entire world with employable technical skills consistent with latest technological innovations. The aspiration is also to develop the student’s caliber in order to fulfill the challenging needs of industries expectations and to spring up the department to attain the international quality in the field of Research & Development. We are providing high quality technical education in the field of computer applications and in that way to create computer professionals with proper leadership skills, commitment and moral values.</p>
   </div>

   <div class="objcourse">
    <h2>Objective</h2>
    <p>P. G. Department of Computer Science & Applications (Mtech CS) with an intake of 60 students was established in the year 2006 with an approval of AICTE, New Delhi under the affiliation of BPUT. The Primary objective of this program is to train top class IT professionals so as to cater for the growing needs of various disciplines of computer application and Information Technology.

        The main objective of the programme is to provide professional training in the area of computer applications and to develop computer professionals to meet the demand of the fast growing IT industry who excel in their profession through innovative ideas, knowledge and team work. Course work is designed to reflect the state-of-the-art both in its theoretical and application dimensions. The department imparts computer education to MCA students through class room lectures, seminars, group exercises, industry visits, projects and guest lectures by eminent personalities of the IT industry.
        
        Our course curriculum is designed to provide our students a solid conceptual foundations and an extensive focus on application of these concepts to real life situations. The course content is a perfect blend of recent trends of Computer Science and information technology subjects in all five semesters. The Sixth semester is dedicated exclusively for project work. The students undertake projects covering almost the entire array of computer application and Information Technology in various reputed industries in the country.</p>
   </div>

   <!-- Footer -->
<footer>
    <div class="row primary">
      <div class="column about">
    
      <h3>Academic Institution Navigator</h3>
    
       <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          voluptatem corporis error non,
      </p>
    
      <div class="social">
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube-square"></i>
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
    </div>
    
    <div class="column links">
    <h3>Some Links</h3>
    
     <ul>
    
      <li>
       <a href="#faq">F.A.Q</a>
      </li>
      <li>
       <a href="#cookies-policy">Cookies Policy</a>
      </li>
      <li>
       <a href="#terms-of-services">Terms Of Service</a>
      </li>
      <li>
       <a href="#support">Support</a>
      </li>
     </ul>
    
    </div>
    
    
    <div class="column links">
      <h3>Some Links</h3>
       <ul>
        <li>
         <a href="#faq">F.A.Q</a>
        </li>
        <li>
         <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
        <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
        <a href="#support">Support</a>
        </li>
      </ul>
    </div>
    
    <div class="column subscribe">
     <h3>Newsletter</h3>
      <div>
       <input type="email" placeholder="Your email id here" />
       <button>Subscribe</button>
      </div>
    
    </div>
    
    </div>
    
    <div class="row copyright">
      <div class="footer-menu">
    
      <a href="#">Home</a>
      <a href="#">About</a>
   
      <a href="#">Contact</a>
     
    
      </div>
       <p>Copyright &copy; 2023 Academic Institution Navigator</p>
    </div>
    </footer>
    <!-- Footer -->
</body>
</html>